<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Konfirmasi Email</title>
    <style>
      h3{
        text-align: center;
        width: 200px;
        height: 40px;
        line-height: 40px;
        margin: 10px auto;
        background-color: #4834d4;
      }
      a{
        text-decoration: none;
        display: block;
        color: #fff;
        width: 100px;
        height: 35px;
        line-height: 35px;
        border: 1px solid white;
        border-radius: 7px;
        background-color: #20bf6b;
        font-size: 20px;
        text-align: center;
      }
    </style>
</head>
<body>
    <h3>Registrasi Akun</h3>
    <p>Selamat datang</p>
    <p>Hy {{nama}}, thanks for registration,please click button activation for complete your registration</p>
    <a href="http://localhost:4000/api/v1/server/user/activated/?token={{token}}">activation</a>
</body>
</html>