<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Konfirmasi Email</title>
    <style>
      body{
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    h1{
      margin-bottom: 50px;
    }
    .reset-password{
      display: inline-block;
    }
    </style>
</head>
<body>
  <h1>Registrasi Akun</h1>
  <p>Welcome!</p>
  <p>Hy {{nama}}, thanks for registration,please click button activation for complete your registration</p>
  <a href="https://server-api.sulfikardi.my.id/user/activated" class="reset-password">Reset Password</a>
  <p>If you did not request a password reset, please disregard this email. Nothing will change to your account.</p>
</body>
</html>