<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
  <style>
    body{
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    h1{
      margin-bottom: 50px;
    }
    .reset-password{
      display: inline-block;
    }
  </style>
</head>
<body>
  <h1>Reset Password</h1>
  <p>hy {{name}} , To reset the password on your account, simply use the link below and follow the steps.</p>
  <a href="https://moment.sulfikardi.my.id/resetpassword/{{token}}" class="reset-password">Reset Password</a>
  <p>If you did not request a password reset, please disregard this email. Nothing will change to your account.</p>
</body>
</html>